# GIT, NPM & Dev-Env Configs
.git/
.vscode/settings.json
.eslintrc.json
.eslintignore
.prettierrc
.gitignore
.npmrc

# Dependacies & Generated Proj-Files
node_modules/
package-lock.json

# TSC Build Transpilled Emissions
build/
types/
*.js
*.mjs
*.d.ts
*.d.mts

# NO COMMON JS
*.cjs
*.cts
*.d.cts
*.cjs.map

# Logging
*.log
*.log.*
*.txt
